
.cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn {
  font-size: 15px;
  letter-spacing: 2px;
}

.img {
  height: 20%;
  width: 20%;
}

